@media all and (max-device-width: 480px) {
	body {
		font-size:3em;
	}
}

select { height:3em; }

#filterClub	{ width: 16em; }
#filterPosition	{ width: 16em; }
#squadFilter	{ width: 16em;  }

.filterLabel::after { content: ":"; }
.detailLabel::after { content: ":"; }

#playerDetail {
	padding-top:2em;
	width: 26em;
}

#pImage {
	padding-top:1em;
	display:block;
	max-width:8em;
	min-width:8em;
	height:auto;
}

#divFilteredPlayersCount {
	padding-top:1em;
}

#divPlayerFilter {
	padding-top:1em;
	padding-bottom:1em;
}

#divButtons1 {
	padding-top:1em;
	padding-bottom:1em;
}

#divButtons2 {
	padding-top:1em;
	padding-bottom:1em;
}

#savePlayer {
	display:none;
}

#divEditPlayerDetails {
	padding-top:1em;
}

#playersTable {
	border-collapse: collapse;
}

#playersTable td {
	border-bottom: 1px solid black;
}

#playersTable {
	border: 1px solid black;
}
