@media all and (max-device-width: 480px) {
	body {
		font-size:3em;
	}
}

#main {
	padding-left: 6em;
	padding-top: 4em;
}

select { height:3em; }

#filterClub	{ width: 16em; }
#filterPosition	{ width: 16em; }
#squadFilter	{ width: 16em;  }

.filterLabel::after { content: ":"; }
.detailLabel::after { content: ":"; }

#filteredPlayersCount::after { content: ":"; }
#filteredPlayersCount {
	padding-right: 1em; 
}
#playerButtons {
	padding-right: 1em; 
}
#pageButtons {
	padding-right: 1em; 
}
#pageCount::after { content: ":"; }
#pageCount {
	padding-right: 1em; 
}

#playerDetail {
	padding-top:2em;
	width: 26em;
}

#pImage {
	padding-top:1em;
	display:block;
	max-width:8em;
	min-width:8em;
	height:auto;
}

#divFilteredPlayersCount {
	padding-top:1em;
}

#playerSelect {
	padding-top:3em;
	padding-bottom:1em;
}

#divPlayerFilter {
	padding-top:1em;
	padding-bottom:1em;
}

#pageSelect {
	padding-top:2em;
}

#savePlayer {
	display:none;
}

#divEditPlayerDetails {
	padding-top:1em;
}

#playersTable {
	border-collapse: collapse;
	border: 1px solid black;
	table-layout: fixed;
}

#playersTable td {
	border-bottom: 1px solid black;
}

#secondColumn {
	width:100px;
}

#nameColumn {
	width:200px;
}

#clubColumn {
	width:200px;
}

#positionColumn {
	width:140px;
}

#squadNoColumn {
	width:80px;
}

#detailLabelColumn {
	width:140px;
}

#detailValueColumn {
	width:200px;
}

#detailLabelColumn2 {
	width:140px;
}

#detailValueColumn2 {
	width:200px;
}

#cImage {
	padding-left: 2em;
	display:block;
	max-width:8em;
	min-width:8em;
	height:auto;
}